# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep = "\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [5]:
chipo
chipo.loc[:,"item_price"]=chipo.loc[:,"item_price"].str[1:].astype(float)

In [16]:
maximo = chipo.loc[:,"item_price"].sort_values(ascending=False).iloc[0]
maximo

44.25

In [17]:
nombre = chipo.loc[chipo["item_price"] == maximo]
nombre

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [18]:
nombre["item_name"]

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Step 4. How many products cost more than $10.00?

In [19]:
filtro = chipo.loc[:,"item_price"].sort_values(ascending=False)

3598    44.25
3480    35.25
1254     35.0
3602     35.0
3601    33.75
        ...
3936     1.09
2922     1.09
1396     1.09
2562     1.09
1457     1.09
Name: item_price, Length: 4622, dtype: object

In [22]:
ventas = chipo.loc[chipo["item_price"]>10]
len(ventas.loc[:,"item_name"].unique())# sacamos la longitud de la lista cogiendo los nombres sin que se repitan

31

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [24]:
len(ventas.loc[:,"order_id"].unique())

863

### Step 5. What is the price of each item? Get only item_name and unit_price

In [37]:
# Crea una nueva columna llamada unit_price
chipo["unit_price"] = chipo.loc[:,"item_price"]/chipo.loc[:,"quantity"]
chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [41]:
chipo[["item_name","unit_price"]]

                                  item_name unit_price
0              Chips and Fresh Tomato Salsa       2.39
1                                      Izze       3.39
2                          Nantucket Nectar       3.39
3     Chips and Tomatillo-Green Chili Salsa       2.39
4                              Chicken Bowl       8.49
...                                     ...        ...
4617                          Steak Burrito      11.75
4618                          Steak Burrito      11.75
4619                     Chicken Salad Bowl      11.25
4620                     Chicken Salad Bowl       8.75
4621                     Chicken Salad Bowl       8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [39]:
chipo.loc[:,"item_name"].sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [44]:
# chipo.loc[:,"item_price"].sort_values().iloc[0]
type(maximo)

float

In [55]:
vendido = chipo["item_price"].value_counts(maximo)
len(vendido.unique())

38

In [54]:
chipo[chipo["item_price"] == chipo["item_price"].max()]['quantity'].values[0]# ni de puta coña habría sacado esto yo solo

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [61]:
veggie = chipo[chipo.loc[:,"item_name"] == "Veggie Salad Bowl"]
len(veggie)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [64]:
canned = chipo[chipo.loc[:,"item_name"] == "Canned Soda"]
ventas1 = canned[canned.loc[:,"quantity"]>1]
len(ventas1)

20

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()